.textinput {
  height: 90%;
  width: 100%;
  position: absolute;
  padding: 10px; 
  font-size: 14px;
  display: block;
  font-family: Opal !important;
  line-height: 12px;
  resize: none;
  visibility: hidden;
  background-color: #3c5146;
  color: white;

}
#btn_copy{
 visibility: hidden;
}
